body{
  font-family:"Arisl", "Meiryo" , sans-serif ;
}
h1{
  font-family: "Josefin Sans", sans-serif; 
  letter-spacing: 1.2em; 
  text-shadow: 2px 2px 3px goldenrod; 
  border-bottom: solid 3px rgb(115, 115, 114) ;
  font-size: 2rem;
}
html{
  font-size: 20px;
}

.text-pink{
  color:rgb(255, 192, 203)
}
.text-blue{
  color: skyblue;
}
body{
  text-align: center;
}
#basic p{
  font-weight: bold;
}